{% extends "layout.html" %}
{% block content %}
<!-- text -->

<h1 class="display-4" style="margin-bottom: 5vh;margin-right:7vw;margin-left: 7vw;">About Us</h1>
  </div>
</div>
<p class="lead" style="text-transform: capitalize; margin-right: 7vw;margin-left: 7vw;">TheraChat Is an web application that helps you to overcome stress, depression and general mental health isssues.gain confidence,inspiration and mentally clear and emotionally calm and stable state.</p>
<p class="lead" style="text-transform: capitalize;margin-right: 7vw;margin-left: 7vw;">Our aim is to build an AI-based ‘emotionally intelligent’ bot, a virtual coach whichresponds to the emotions you express and uses evidence-based cognitive-behavioral techniques (CBT), meditation, breathing, yoga, motivational interviewing and micro-actions to help you build mental resilience skills and feel better.</p>
<p class="lead" style="text-transform: capitalize; margin-right: 7vw;margin-left: 7vw;">Chatbots are nothing but an intelligent piece of software that can interact and 
communicate with people just like humans. Interesting isn’t it! So now let us understand 
how they actually work. All the chatbot comes under the NLP (Natural Language 
Processing) concepts.</p>
<p class="lead" style="text-transform: capitalize; margin-right: 7vw;margin-left: 7vw;">Researches shows that a person feels better while talking with someone.a chatbot 
Makes you feel heard.</p>
<p class="lead" style="text-transform: capitalize; margin-right: 7vw;margin-left: 7vw;"> People often get depressed when they’re alone so there’s a 24/7 app that can talk with 
you anytime.</p>
 <p class="lead" style="text-transform: capitalize;margin-left: 7vw;margin-right: 7vw;">
  You can conatct us without any hesitation through email or chatbox given in <a href="/therachatfronend/contact.html"> contact us </a>page
 </p>
{% endblock content %}