<!DOCTYPE html>
<html>
<title>Cure Depression</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
 <a href="/home"> <img src="https://www.flaticon.com/svg/static/icons/svg/2728/2728279.svg" style="width:100%"></a>
  <a href="meditation.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>MEDITATION</p>
  </a>
  <a href="anger.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ANGER MANAGEMENT</p>
  </a>
  <a href="stress.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>STRESS MANAGEMENT</p>
  </a>
  <a href="depression.html" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CURE DEPRESSION</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="/home" class="w3-bar-item w3-button" style="width:20% !important">Home</a>
      <a href="meditation.html" class="w3-bar-item w3-button" style="width:20% !important">Meditation</a>
      <a href="anger.html" class="w3-bar-item w3-button" style="width:20% !important">Anger </a>
      <a href="stress.html" class="w3-bar-item w3-button" style="width:20% !important">Stress</a>
      <a href="depression.html" class="w3-bar-item w3-button" style="width:20% !important">Depression</a>
    </div>
  </div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span>Cure Depression</h1>
    <p>Say Goodbye To Depression.</p>
    <img src="https://images.unsplash.com/photo-1611858977757-8f7cdc084d3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="image" class="w3-image" width="992" height="1108">
<p>What is depression?</p>
<p>Depression is classified as a mood disorder. It may be described as feelings of sadness, loss, or anger that interfere with a person’s everyday activities.

It’s also fairly common. The Centers for Disease Control and Prevention (CDC)Trusted Source estimates that 8.1 percent of American adults ages 20 and over had depression in any given 2-week period from 2013 to 2016.

People experience depression in different ways. It may interfere with your daily work, resulting in lost time and lower productivity. It can also influence relationships and some chronic health conditions.</p>
<p>Conditions that can get worse due to depression include:</p>
<p>arthritis</p>
<p>asthma</p>
<p>cardiovascular disease</p>
<p>cancer</p>
<p>diabetes</p>
<p>obesity</p>
<p>Depression symptoms</p>
<p>Depression can be more than a constant state of sadness or feeling “blue.”

Major depression can cause a variety of symptoms. Some affect your mood, and others affect your body. Symptoms may also be ongoing, or come and go.

The symptoms of depression can be experienced differently among men, women, and children differently.</p>
<p>Treatment for depression:</p>
<p>Living with depression can be difficult, but treatment can help improve your quality of life. Talk to your healthcare provider about possible options.

The Healthline FindCare tool can provide options in your area if you don’t already have a doctor.

You may successfully manage symptoms with one form of treatment, or you may find that a combination of treatments works best.</p>
<p>Traditional depression treatment uses a combination of prescription medication and counseling. But there are also alternative or complementary treatments you can try.

It’s important to remember that many of these natural treatments have few studies showing their effects on depression, good or bad.

Likewise, the U.S. Food and Drug Administration (FDA) doesn’t approve many of the dietary supplements on the market in the United States, so you want to make sure you’re buying products from a trustworthy brand</p>
<p>Depression isn’t generally considered to be preventable. It’s hard to recognize what causes it, which means preventing it is more difficult.

But once you’ve experienced a depressive episode, you may be better prepared to prevent a future episode by learning which lifestyle changes and treatments are helpful</p>

  </header>


<!-- END PAGE CONTENT -->
</div>

</body>
</html>