{% extends "layout.html" %}
{% block content %}
<span>
<div class="inline">
  <img src="https://yashvardhanv.github.io/therachatfrontend/discuss.webp" class="img-fluid" alt="Getting Help" >
</div>
<div class="inline">
  <h1 class="display-1" style="font-size: 4vw">Getting Help</h1>
  <h1 class="display-6" style="font-size: 2.5vw;"> Sometimes you need to talk things through.</h1>
</p>
</div>
</span>
<br>
<!-- cards -->
<div class="container">
  <div class="cards">
    <div class="card-item">
      <div class="card-image">
      </div>
      <div class="card-info">
        <h2 class="card-title">Meditation</h2>
        <p class="card-intro">Achieve a mentally clear and emotionally calm and stable state.</p>
        <a href="/meditation" class="btn btn-outline-primary">Check It</a>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="card-item">
      <div class="card-image">
      </div>
      <div class="card-info">
        <h2 class="card-title">Anger Management</h2>
        <p class="card-intro">Anger management is a psycho-therapeutic program for anger control.</p>
        <a href="/anger" class="btn btn-outline-primary">Check It</a>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="card-item">
      <div class="card-image">
      </div>
      <div class="card-info">
        <h2 class="card-title">Stress Management</h2>
        <p class="card-intro">Stress management is a technique aimed at controlling stress.</p>
        <a href="/stress" class="btn btn-outline-primary">Check It</a>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="card-item">
      <div class="card-image">
      </div>
      <div class="card-info">
        <h2 class="card-title">Cure Depression</h2>
        <p class="card-intro">Stress management is a technique aimed at controlling stress</p>
        <a href="/depression" class="btn btn-outline-primary">Check It</a>
      </div>
    </div>
  </div>
</div>
<!-- cards finish -->
<!-- features start -->
  <h1 class="display-5" style="margin-left: 2vw;margin-bottom: 3vh;margin-top: 2vh;">Some Features Of Our Website:</h1>
  <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://yashvardhanv.github.io/therachatfrontend/1.jpg" class="d-block w-100" alt="...">
       
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://yashvardhanv.github.io/therachatfrontend/2.jpg" class="d-block w-100" alt="...">
       
      </div>
      <div class="carousel-item">
        <img src="https://yashvardhanv.github.io/therachatfrontend/3.jpg" class="d-block w-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="https://yashvardhanv.github.io/therachatfrontend/4.jpg" class="d-block w-100" alt="...">
        
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
{% endblock content %}
