<!DOCTYPE html>
<html>
<title>meditation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
 <a href="/home"> <img src="https://www.flaticon.com/svg/static/icons/svg/2728/2728279.svg" style="width:100%"></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>MEDITATION</p>
  </a>
  <a href="anger.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ANGER MANAGEMENT</p>
  </a>
  <a href="stress.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>STRESS MANAGEMENT</p>
  </a>
  <a href="depression.html" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CURE DEPRESSION</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="/home" class="w3-bar-item w3-button" style="width:20% !important">Home</a>
      <a href="meditation.html" class="w3-bar-item w3-button" style="width:20% !important">Meditation</a>
      <a href="anger.html" class="w3-bar-item w3-button" style="width:20% !important">Anger </a>
      <a href="stress.html" class="w3-bar-item w3-button" style="width:20% !important">Stress</a>
      <a href="depression.html" class="w3-bar-item w3-button" style="width:20% !important">Depression</a>
    </div>
  </div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span>Meditation.</h1>
    <p>Discover Yourself.</p>
    <img src="https://images.unsplash.com/photo-1513097847644-f00cfe868607?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=632&q=80" alt="boy" class="w3-image" width="992" height="1108">
<p> HOW TO MEDITATE EFFECTIVELY
</p>
<P>MEDITATION IS AN APPROACH TO TRAINING THE MIND, SIMILAR TO THE WAY THAT FITNESS IS AN APPROACH TO TRAINING THE BODY. BUT MANY MEDITATION TECHNIQUES EXIST — SO HOW DO YOU LEARN HOW TO MEDITATE?
“IN BUDDHIST TRADITION, THE WORD ‘MEDITATION’ IS EQUIVALENT TO A WORD LIKE ‘SPORTS’ IN THE U.S. IT’S A FAMILY OF ACTIVITIES, NOT A SINGLE THING,” UNIVERSITY OF WISCONSIN NEUROSCIENCE LAB DIRECTOR RICHARD J. DAVIDSON, PH.D., TOLD THE NEW YORK TIMES. AND DIFFERENT MEDITATION PRACTICES REQUIRE DIFFERENT MENTAL SKILLS.
IT’S EXTREMELY DIFFICULT FOR A BEGINNER TO SIT FOR HOURS AND THINK OF NOTHING OR HAVE AN “EMPTY MIND.” WE HAVE SOME TOOLS SUCH AS A BEGINNER MEDITATION DVD OR A BRAIN-SENSING HEADBAND TO HELP YOU THROUGH THIS PROCESS WHEN YOU ARE JUST STARTING TO LEARN HOW TO BEST MEDITATE. IN GENERAL, THE EASIEST WAY TO BEGIN MEDITATING IS BY FOCUSING ON THE BREATH. AN EXAMPLE OF ONE OF THE MOST COMMON APPROACHES TO MEDITATION IS CONCENTRATION.
</p>
<p> BENEFITS OF MEDITATION</p>
<p>IF RELAXATION IS NOT THE GOAL OF MEDITATION, IT IS OFTEN A RESULT. IN THE  1970S, HERBERT BENSON, MD, A RESEARCHER AT HARVARD UNIVERSITY MEDICAL SCHOOL, COINED THE TERM “RELAXATION RESPONSE" AFTER CONDUCTING RESEARCH ON PEOPLE WHO PRACTICED TRANSCENDENTAL MEDITATION. THE RELAXATION RESPONSE, IN BENSON’S WORDS, IS “AN OPPOSITE, INVOLUNTARY RESPONSE THAT CAUSES A REDUCTION IN THE ACTIVITY OF THE SYMPATHETIC NERVOUS SYSTEM.”



<p>Most people are likely familiar with the positive side effects of meditation associated with mental health: increased awareness, clarity, compassion, and a sense of calm. Improved focus is another benefit commonly associated with meditation. In fact, one study showed that 4 weeks of using the Headspace app can increase focus by 14%, while another showed that just a single session cuts mind-wandering by 22%.

But there are even more ways meditation can benefit the mind. In a study that did not use the Headspace app, researchers from John Hopkins University found general meditation programs helped ease psychological symptoms of depression, anxiety, and pain related to stress. A published study conducted at Google and Roche, in which employees used Headspace for 8 weeks, had similar results: participants reported a 46% reduction in depression and a 31% reduction in anxiety.

That’s not all: Another study showed that 30 days of Headspace resulted in an 11% increase in mental resilience. What’s more, people who used the Headspace app for just 10 days experienced a 7.5% increase in satisfaction with life. It’s clear that regularly setting aside a few minutes — even one minute — to let go, breathe, and recharge, can go a long way to improve health.</p>

  </header>


<!-- END PAGE CONTENT -->
</div>

</body>
</html>